$skin-color: #FBC495;
$hair-color: #A75E33;
$headphones-color: #363636;
$eyebrow-color: #8D481E;
$eye-color: #338844;
$nose-color: #EBA767;
$lips-color: #EAA673;
$mouth-bg-color: #480E0F;
$tongue-color: #B25544;
$tshirt-color: #83A6CB;
$countdown-bg-color: rgba(255, 255, 255, 0.3);
$countdown-highlight-color: yellow;